
node_modules/

build/

*.log
*.pid

.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

package-lock.json
yarn.lock

coverage/

.vscode/

.DS_Store
Thumbs.db

.npm/
.pnp/
pnp.js
